.radio-btn {
    border: 2px solid gainsboro;
    margin-bottom: 30px;
    width: 120%;
    padding: 20px;
}

.radio-option {
    width: 200px;
    margin: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.option-radio-btn {
    padding-left: 5px;
    padding-right: 20px;
}

.container-options { 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}

.lbl-radio-btn{
    text-transform: uppercase;
    font-size: initial;
    color: darkgreen;
    margin-bottom: 15px;
}

input[type="radio"] {
    color: red;
}
